@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: #EF4444;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

nav {
    padding: 1.1rem;
    text-align: center;
    background-color: #6B7280;
    color: #fff;
}

textarea {
    display: block;
    margin: 3rem auto;
    width: 60%;
    padding: 1rem;
    height: 15vh;
    font-size: 1.4rem;
    border: none;
    outline: none;
    text-align: center;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    background-color: #6B7280;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    font-family:'Open Sans', sans-serif;
    border: none;
    outline: none;
    cursor: pointer ;
    border-radius: 30px;
}

@media (max-width: 700px) {
    textarea {
        width: 80%;
        height: 15vh;
    }

    button {
        display: block;
        margin: 0.5rem auto;
    }
}